.app-layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  text-align: left;
}

.app-layout-body {
  display: flex;
  flex-grow: 1;
  min-height: 0;
}

.app-layout-content {
  flex-grow: 1;
  min-width: 0;
  padding: 24px;
  box-sizing: border-box;
  background-color: var(--bg);
  background-size: cover;
  background-position: center;
}
